{% extends 'core/main.html' %}
{% load static %}
{% block title %}Django | CURD {% endblock title %}


{% block main_content %}
    
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Django CURD Systems</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
                </li>
            </ul>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">CURD</h4>
                            <a
                                href="{% url 'add-worker' %}"
                                class="btn btn-primary btn-round ms-auto"
                            >
                                <i class="fa fa-plus"></i>
                                Add Row
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table
                                id="add-row"
                                class="display table table-striped table-hover"
                            >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Branch</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for workerd in workerData %}
                                    <tr>
                                        <td>{{ workerd.name }}</td>
                                        <td>{{ workerd.position }}</td>
                                        <td>{{ workerd.branch }}</td>
                                        <td>
                                        <div class="form-button-action">
                                            <a
                                            href="{% url 'edit-worker' workerd.id %}"
                                            class="btn btn-link btn-primary btn-lg"
                                            data-original-title="Edit Task"
                                            >
                                            <i class="fas fa-edit"></i>
                                            </a>

                                            <form action="{% url 'delete-worker' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ workerd.id }}">
                                                <button
                                                    type="submit"
                                                    data-bs-toggle="tooltip"
                                                    title=""
                                                    class="btn btn-link btn-danger"
                                                    data-original-title="Remove"
                                                    >
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                            
                                        </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock main_content %}

{% block js_script %}
    <!-- Datatables -->
    <script src="{% static 'assets/js/plugin/datatables/datatables.min.js' %}"></script>
            
    <script>
        $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
            pageLength: 5,
            initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                var column = this;
                var select = $(
                    '<select class="form-select"><option value=""></option></select>'
                )
                    .appendTo($(column.footer()).empty())
                    .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                        .search(val ? "^" + val + "$" : "", true, false)
                        .draw();
                    });

                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                    select.append(
                        '<option value="' + d + '">' + d + "</option>"
                    );
                    });
                });
            },
        });

        // Add Row
        $("#add-row").DataTable({
            pageLength: 5,
        });

        var action =
            '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $("#addRowButton").click(function () {
            $("#add-row")
            .dataTable()
            .fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action,
            ]);
            $("#addRowModal").modal("hide");
        });
        });
    </script>

{% endblock js_script %}